.prod-container{
    width: 80%;
    margin: 0 auto;
    background: rgb(211, 211, 211);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product{
    flex-basis: 20%;
    width: 20%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid red;
    border-radius: 15px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product img{
    align-self: center;
    border-radius: 15px;
    width: 90%;
}
.option-btns{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.option-btns button{
  margin: 5px;
  padding: 5px;
  font-family: "Sono", monospace;
  text-transform: uppercase;
  font-weight: 500;
  color: dodgerblue;
  border: none;
}